body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: darkseagreen;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.bloque {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: darkseagreen;
    color:white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



li:hover {
    background-color: #f0f0f0;
}

